<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--通过下面的日志过滤语句对kafka的日志进行过滤-->
    <logger name="org.apache.kafka.clients" level="off"></logger>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>